#content #advisor.item {
    h2 {
        display: flex;
        align-items: flex-end;

        .beta {
            font-family: monospace;
            text-transform: uppercase;
            border-radius: 3px;
            background-color: var(--bg-intense-color);
            padding: 2px 10px;
            color: #8f4646;
            font-size: .9rem;
            margin-bottom: 10px;
            margin-left: 10px;
        }
    }

    a {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }

    #content {
        padding: 5px 15px;

        i.fa-circle-question {
            margin-left: 5px;
            cursor: pointer;
            transition: 0.3s all;

            &:hover {
                filter: brightness(0.8);
            }
        }

        .disabled {
            opacity: 0.4;
        }

        #metamask-connected {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            border: 1px solid var(--border-color);
            background-color: var(--bg-intense-color);
            box-sizing: border-box;
            padding: 10px 15px;
            width: 260px;
            margin: auto;
            margin-bottom: 15px;

            #metamask-icon {
                margin-right: 15px;
            }

            #network-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                #network {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: bold;
                    margin-top: 5px;

                    img {
                        height: 20px;
                        margin-right: 5px;
                    }

                    .red {
                        color: #914e4e;
                    }
                }
            }
        }

        #enable-container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 0 10px 30px;

            label {
                display: flex;
                align-items: center;
                margin: 10px 0px;
                
                .checkbox {
                    margin-right: 10px;
                    transform: scale(1.5);
                }
            }

            #cost-card {
                flex-shrink: 0;
                border-radius: 3px;
                border: 1px solid var(--border-color);

                .title {
                    background-color: var(--bg-intense-color);
                    color: var(--text-intense-color);
                    padding: 5px 10px;
                    display: flex;
                    justify-content: center;
                }
                
                .body {
                    box-sizing: border-box;
                    padding: 10px 15px 15px;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    
                    .value {
                        font-family: monospace;
                        font-size: 1.1rem;
                    }

                    .info {
                        font-size: 0.9rem;
                        opacity: 0.6;
                    }

                    .free {
                        color: #01943f;
                        font-weight: bold;
                    }
                }
                
            }
        }

        #speed-container {
            width: 100%;

            &.disabled .range-custom {
                .filled {
                    display: none;
                }

                .thumb {
                    color: transparent;
                }
            }    

            #label-container {
                display: grid;
                grid-template-columns: 25fr 25fr 10fr 0fr;
                margin-bottom: -5px;
            }

            .range-custom {
                box-sizing: border-box;
                padding: 15px 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                
                .bar {
                    width: 100%;
                    height: 10px;
                    border: 1px solid var(--border-color);
                    border-radius: 10px;
                    display: flex;
                    background-color: var(--bg-intense-color);
                    box-sizing: border-box;
                }

                .filled {
                    height: 100%;
                    border-radius: 3px 0 0 3px;
                    box-shadow: 0px 0px 3px var(--bg-intense-color) inset;
                }

                .thumb {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 15px;
                    width: 25px;
                    border: 1px solid var(--border-color);
                    border-radius: 5px;
                    background-color: var(--text-color);
                    margin: -4px -20px 0 -14px;
                    pointer-events: none;
                    color: var(--bg-intense-color);
                    font-size: 0.8rem;
                    user-select: none;
                    box-shadow: 0 0 3px var(--bg-intense-color) inset;
                }
            }
        }
    }
}
