#content #gas.item {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 15px;

    .gas {
        border-radius: 3px;
        border: 1px solid var(--border-color);
        width: 100%;
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: 0.3s all;
        background-color: var(--bg-intense-color);
        box-shadow: 0px 0px 15px #74747424;
        margin: 5px 0;
        gap: 10px;
        height: 90px;
        box-sizing: border-box;

        &:hover {
            background-color: var(--bg-color);
        }

        &.custom {
            flex-direction: column;

            .label {

                .name {
                    font-size: 1.3rem;
                    color: var(--text-intense-color);
                }
    
                .percent {
                    font-size: 1.1rem;
                    font-weight: bold;
                    color: var(--text-intense-color);
                }
            }

            .bar {
                margin: 0 20px 5px 20px;
            }

        }

        .col {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex: 1;
            gap: 5px;
            
            div {
                transition: background-color 0.5s ease-out;
            }

            .name {
                font-size: 1.3rem;
                margin-bottom: 10px;
                }
                
            .gwei {
                font-weight: bold;
                font-size: 1.2rem;
            }

            .usd, .tip, .base {
                opacity: 0.7;
                font-size: 0.9rem;
            }

            .usd {
                font-size: 1rem;
            }

        }

        &.loading {
            .gwei, .usd, .base, .tip {
                border-radius: 3px;
                background-color: var(--text-color);
                opacity: 0.2;
                animation: fade 0.6s ease-in-out infinite;
                color: transparent;
                
                @keyframes fade {
                    0% {
                        opacity: 0.2;
                    }
                    50% {
                        opacity: 0.4;
                    }
                    100% {
                        opacity: 0.2;
                    }
                }
            }
        }
    }

    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
        width: 100%;
        
        button {
            font-size: 0.8rem;
            width: 50%;
            padding: 7px;
        }
    }
}

#fog #modal-menu.gas-used {
    flex-direction: column;
    row-gap: 20px;

    .item {
        width: 200px;
    }
}
