@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@1,700&family=Roboto&display=swap');

@import "menu.less";
@import "modal.less";
@import "dropdown.less";
@import "header.less";
@import "gas.less";
@import "chart.less";
@import "advisor.less";
@import "key.less";


.bsc { @chain-color: #daaa10; }
.poly { @chain-color: #7533E2; }
.avax { @chain-color: #E84142; }
.ftm { @chain-color: #1A7CE4; }
.cro { @chain-color: #113e67; }
.movr { @chain-color: #50cbc6; }
.eth { @chain-color: #5c5c5c; }
.ht { @chain-color: #01943f; }
.one { @chain-color: #00d8af; }
.celo { @chain-color: #35cf7f; }
.fuse { @chain-color: #b3c05d; }

body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    margin: 0;
    transition: 0.3s background-color, 0.3s color;
    background-color: var(--bg-color);
    color: var(--text-color);
    width: 360px;
    height: 600px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    
    --text-dark-color: #e3dcd0;
    --text-dark-intense-color: #ffffff;

    &.dark {
        --bg-color: #2c2c2c;
        --bg-intense-color: #232323;
        --text-color: #e3dcd0;
        --text-intense-color: #ffffff;
        --main-color: #241610;
        --border-color: #3c3c3c;
        --json-key: #68CEFE;
        --json-string: #CE9178;
        --json-number: #B5CEA0;
    }
}

#content {
    width: 100%;
    flex-grow: 1;

    .item {
        display: none;
        height: 100%;

        &.active {
            display: flex;
        }
    }

    a {
        text-decoration: none;
        color: #3b8bc0;
        cursor: pointer;
    }
}